.carrossel {
    display: flex;
    position: relative;
    margin-bottom: 40px;
    overflow: hidden;
}

.fa-caret-left,
.fa-caret-right,
.carrossel__posicoes {
    position: absolute;
    color: var(--branco);
    font-size: 1.5rem;
}

.fa-caret-left,
.fa-caret-right {
    top: 50%;
}

.fa-caret-left {
    left: 40px;
}

.fa-caret-right {
    right: 40px;
}

.carrossel__posicoes {
    bottom: 20px;
    left: calc(50% - 38px);
}

.fa-minus {
    opacity: .6;
}

.carrossel__banner {
    display: flex;
}

.carrossel__banner img {
    width: 50vw;
}

.banner__chamada {
    background-color: var(--roxo);
    width: 50vw;
    display: flex;
    align-items: center;

    padding: 10%;
}

.banner__chamada img {
    width: 80%;
}

@media screen and (max-width: 375px) {
    .carrossel__banner {
        flex-direction: column;
    }

    .carrossel__banner img {
        width: 100vw;
    }

    .banner__chamada {
        height: 30vh;
        width: 100vw;
        text-align: center;
        justify-content: center;
    }

    .banner__chamada img {
        width: 80%;
    }
}