.banner {
    position: relative;
}

.carrossel {
    display: flex;
    position: relative;
    margin-bottom: 40px;
    overflow: hidden;
}

.carrossel li:nth-of-type(1) {
    background-color: var(--roxo);
}

.carrossel li:nth-of-type(2) {
    background-color: var(--coral);
}

.carrossel li:nth-of-type(3) {
    background-color: var(--laranja);
    flex-direction: row-reverse;
}

.fa-caret-left,
.fa-caret-right,
.carrossel__posicoes {
    position: absolute;
    color: var(--branco);
    font-size: 1.5rem;
}

.fa-caret-left,
.fa-caret-right {
    top: 50%;
}

.fa-caret-left {
    left: 40px;
}

.fa-caret-right {
    right: 40px;
}

.carrossel__posicoes {
    bottom: 8px;
    left: calc(50% - 38px);
}

.fa-minus {
    opacity: .6;
}

.carrossel__banner {
    display: flex;
}

.carrossel__banner img {
    width: 50vw;
}

.banner__chamada {
    width: 50vw;
    display: flex;
    padding: 10%;
    flex-direction: column;
    justify-content: center;
}

.banner__chamada img {
    width: 80%;
}

.chamada__titulo {
    color: var(--branco);
    font-size: 2rem;
    margin-bottom: 1rem;
    font-weight: 500;
}

.chamada__texto {
    color: var(--branco);
    font-size: 1rem;
}

@media screen and (max-width: 375px) {
    .carrossel__banner {
        flex-direction: column;
    }

    .carrossel__banner img {
        width: 100vw;
    }

    .banner__chamada {
        height: 200px;
        width: 100vw;
        text-align: center;
        justify-content: center;
    }

    .banner__chamada img {
        width: 80%;
    }
}