@import url(header.css);
@import url(banner.css);

:root  {
    /* Cores Meteora */
    --preto: #000000;
    --cinza: #CCCCCC;
    --verde: #DAFF01;
    --roxo: #9353FF;
    --branco: #FFFFFF;

    /* Fontes Meteora */

}

body {
    font-family: 'Inter', sans-serif;
}